/* Swiper Container */
.swiperClass {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
}

/* Slide Image */
.imgContainer {
  width: 100%;
  /* min-height: 50%; */
  height: 100%;
  aspect-ratio: 16 / 9; /* Maintain consistent aspect ratio */
  overflow: hidden;
  background: var(--white);
  border-radius: 10px;
  transition: transform 0.4s ease, flex 0.4s ease;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease, width 0.4s ease, height 0.4s ease;
}

/* Text Container (Default State) */
.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.75rem; /* Adjusted for responsiveness */
  gap: 0.625rem; /* 10px -> 0.625rem */
}

/* Button */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  padding: 4px 8px 4px 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  max-width: 50%;
  transition: width 1s ease; /* Transition only on width change */
}

.btn:hover {
  background-color: var(--text-secondary);
}

/* Title */
.title {
  font-size: 1.25rem; /* 20px -> 1.25rem */
  font-weight: 600;
  line-height: 1.875rem; /* 30px -> 1.875rem */
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Description */
.desc {
  font-size: 0.875rem; /* Slightly smaller for better scaling */
  font-weight: 400;
  line-height: 1.375rem; /* 22px -> 1.375rem */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 4 lines */
  -webkit-box-orient: vertical;
}

.title,
.desc {
  overflow: hidden;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  animation: flash 1s ease; /* 2-second flashing effect, repeats infinitely */
}

@keyframes flash {
  0% {
    opacity: 0; /* Fully transparent */
  }
  100% {
    opacity: 1; /* Fully visible */
  }
}

/* Navigation Buttons */
.customNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 2%;
  z-index: 10;
  padding: 0 1rem;
}

.navBtnsContainer {
  display: flex;
  gap: 0.5rem;
}

.customPrevBtn,
.customNextBtn {
  color: var(--white);
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}
.customPrevBtn:hover,
.customNextBtn:hover {
  color: var(--primary);
}

/* Pagination */
.customPagination {
  display: flex;
  gap: 0.25rem;
  transition: all 0.3s ease; /* Smooth pagination transition */
}

@media screen and (max-width: 1200px) {
  .btn {
    min-width: fit-content;
    font-size: 0.8rem;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .btn {
    font-size: 0.875rem; /* Scale font size down */
  }
  .title {
    font-size: 1rem; /* Scale font size down */
  }
  .desc {
    font-size: 0.75rem;
    line-height: 1.125rem; /* Adjust line height for smaller screens */
  }
}

@media (max-width: 480px) {
  .contentContainer {
    width: 100%; /* Use full width on smaller screens */
  }
  .btn {
    font-size: 0.75rem; /* Further scale down */
    padding: 0.25rem;
  }
  .title {
    font-size: 0.875rem; /* Adjust font size for mobile */
  }
}
