.toggleButtonWrapper {
  position: absolute;
  top: 3%;
  right: 0;
  width: 3rem;
  min-height: 1.5rem;
  max-height: 3rem;
  height: 4% !important;
  z-index: 100;
  overflow: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}
.toggleButton {
  background-color: var(--primary-border);
  cursor: pointer;
  display: flex;
  align-items: center;

  height: 100%;
  width: 80%;
  border: 1px solid var(--border-secondary);
  z-index: 100;
  position: absolute; /* Keep the button's position relative to the wrapper */
  right: 0;
  border-radius: 0 10px 10px 0; /* Rounded right edge */
  transition: width 0.5s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}
.toggleButtonWrapperClosed {
  right: -35px;
}
.toggleButtonWrapperOpen {
  right: -1px;
}
.toggleButtonClosed {
  transition: transform 0.3s ease-in-out;
  border-radius: 10px 0 0 10px;
  justify-content: flex-start;
  border-right: 0px;
}

.toggleButtonOpen {
  transition: transform 0.3s ease-in-out;
  border-radius: 0 10px 10px 0;
  transform-origin: left;
  left: 0;
  border-left: 0px;
}

.toggleIcon {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translate(-50%, 50%); /* Center horizontally */
  color: var(--primary); /* Icon color */
  width: 100%;
  height: 100%;
  rotate: 90deg;
  pointer-events: none; /* Prevent interaction with the icon */
}
.toggleButton:hover {
  width: 100%;
  border: transparent;
}

.toggleIconClosed {
  transform: rotate(180deg) translate(50%, 0%);
  right: 0;
}
