/* DashBoard.module.css */
.dashboardPage {
  color: var(--color-text-dark);
  padding: 20px;
  background-color: #f8fafc;
}
/* Header Section */
.headerContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 20px;
  gap: 1rem;
  height: 12%;
  overflow: hidden;

}
.headerSection {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--color-primary-bg);
  border-radius: 10px;
  gap: 1rem;
}
.welcomeContainer {
  flex: 3;
}
.welcomeTitle {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary-dark);
  margin-bottom: 10px;
}
.welcomeDescription {
  font-size: 16px;
  color: var(--color-primary-dark);
  margin-bottom: 20px;
  line-height: 1.6;
}
.searchBarContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 60%;
}
.searchButton {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}
.searchButton:hover {
  background-color: var(--color-primary-dark);
}
.imageContainer {
  background: url("../../assets/introImages/intro-1.svg") center/cover no-repeat;
  border-radius: 10px;
  flex: 1;
  height: 200px;
}
/* Carousel Section */
.carouselSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 20%;
  position: relative;
  z-index: 0;
  margin: 0;
}

/* Stats Section */
.statsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterButton {
  padding: 10px 15px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #2563eb;
}

.dateFilter {
  display: flex;
  gap: 10px;
}

.dateInput {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

/* Stats Overview */
.statsOverview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 20px;
}
.statCard {
  background-color: #f3f4f6;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #1e293b;
  text-align: center;
  flex: 1;
  min-width: 150px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Graph and Sentiment Analysis */
.graphContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.barGraph {
  max-width: 100%;
  flex: 1;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sentimentAnalysis {
  flex: 1;
}

.sentimentTitle {
  font-size: 18px;
  font-weight: bold;
  color: #374151;
  margin-bottom: 10px;
}

.sentimentList {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
  font-size: 14px;
  color: #6b7280;
}

.sentimentItem {
  margin: 5px 0;
}

.averageSentiment {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-primary);
}

@media screen and (max-width: 1200px) {
  .welcomeTitle {
    font-size: 1.2rem;
  }
  .welcomeDescription {
    font-size: 0.8rem;
  }
  .carouselSection,
  .imageContainer {
    display: none;
  }
}
