/* Reset and Base Styles */
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: var(--font-size-xs);
  overflow: hidden;
  background: var(--white);
  font-family: var(--font-family);
  box-sizing: border-box; /* Include padding and borders in width/height */
  transition: all 0.3s linear;
}

/* Responsive Typography */
@media (min-width: 600px) {
  body {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 900px) {
  body {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 1200px) {
  body {
    font-size: var(--font-size-lg);
  }
}

/* List Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* Main Dashbaord -sidebar topbar and content warpper css */
.mainLayoutContainer {
  position: relative;
  /* max-height: 100vh; */
  display: flex;
}
/* Container for the dynamic content */
.contentContainer {
  /* max-width: 1450px; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: calc(100vh - 10px); /* Account for padding or margins */
  overflow: hidden;
  position: relative;
}

.dynamicContent {
  flex: 1;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
}

/* Custom active dots up to the current index */
.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}
.swiper-pagination-bullet {
  background-color: var(--bg-pagination-bullet) !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  height: 100%;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  border: none;
  border-radius: 7px;
  background-color: var(--dark);
  color: var(--white);
}

.react-datepicker__day.react-datepicker__day--keyboard-selected:hover {
  background-color: var(--dark);
  color: var(--white);
}

.react-datepicker__day.react-datepicker__day--today {
  border-radius: 7px;
  border: solid 2px var(--primary) !important;
  background-color: white !important;
  color: var(--value) !important;
  width: 30px;
  height: 30px;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: var(--primary) !important;
  color: var(--value) !important;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--primary) !important;
}
.react-datepicker__navigation-icon {
  margin-top: 1rem;
}

.react-datepicker {
  border: none !important;
  font-family: "poppins" !important;
  position: absolute;
  bottom: -100px;
  /* background-color: #000; */
  width: auto !important;
  max-width: 100% !important;
  min-width: 230px !important;
}

.react-datepicker__header {
  border-bottom: solid 2px var(--divider) !important;
  background: var(--white) !important;
}

.react-datepicker__day {
  width: 25px !important;
  height: 25px !important;
  line-height: 25px !important;
}

.react-datepicker__day--today {
  width: 30px;
  height: 30px;
}

.fadeIn {
  animation: fadeIn 0.25s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}