/* Reset and Base Styles */
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: var(--font-size-xs);
  overflow: hidden;
  font-family: var(--font-family);
  box-sizing: border-box; /* Include padding and borders in width/height */
}

/* Responsive Typography */
@media (min-width: 600px) {
  body {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 900px) {
  body {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 1200px) {
  body {
    font-size: var(--font-size-lg);
  }
}

/* List Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* Main Dashbaord -sidebar topbar and content warpper css */
.mainLayoutContainer {
  position: relative;
  /* max-height: 100vh; */
  display: flex;
}
/* Container for the dynamic content */
.contentContainer {
  max-width: 1450px;
  flex-grow: 1;
  margin: 0 auto;
  height: calc(100vh - 10px); /* Account for padding or margins */
  overflow: hidden;
}
.dynamicContent {
  height: 90%;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Custom active dots up to the current index */
.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}
.swiper-slide-active > :nth-child(2) {
  opacity: 1;
  transform: translateY(0);
}

.swiper-slide-active > :nth-child(2) > :nth-child(1) {
  width: 50%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  height: 100%;
}
