:root {
  /* Font and Rendering */
  --font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --theme-color-scheme: light;

  /* Colors */
  --color-text-dark: #212529;
  --color-text-muted: #495057;
  --color-text-light: #9ca3af;
  --color-primary-light: #f0f0f0;
  --color-primary: #21ba95;
  --color-primary-hover: #21ba94de;
  --color-primary-dark: #004349;
  --color-primary-bg: #d2f1e5;
  --color-white: #ffffff;
  --color-comment-bg: #e6f7f4;
  --color-comment-border: #1abc9c;
  --color-comment-border-hover: #007acc;
  --color-border-muted: #f4f4f4;
  --color-bg-container: #f4f4f4;
  --color-border-container: #e9ebed;
  --color-bg-negative: #f8e5e7;
  --color-border-negative: #e74c3c;
  --color-box-shadow: rgba(0, 0, 0, 0.1);

  /* New Colors */
  --color-secondary: #313131; /* Secondary text color */
  --color-muted: #696969; /* Timestamps and subtle text */
  --color-highlight: #fc4788; /* Highlight or action elements */
  --color-border-light: #ebebeb; /* Light borders */

  /* Plan Colors */
  --color-plan-basic-border-top: gray;
  --color-plan-standard-border-top: orange;
  --color-plan-pro-border-top: green;
  --color-plan-advanced-border-top: purple;

  --font-size-xs: 0.7rem;
  --font-size-sm: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.4rem;

  /* AI Response */
  --color-ai-response-bg: #00b8d4;
}
