.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  scrollbar-width: none;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
/* Comments section */
.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
  transition: all 0.5s ease; /* Smooth transitions for layout changes */
  overflow: hidden;
  position: relative;
}

.mainContent {
  flex: 6; /* Allow the container to grow/shrink dynamically */
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  opacity: 0;
  width: 0;
  position: relative;
}

/* .commentContainer {
  animation: floatFromTop 0.5s ease-out;
  animation-fill-mode: both;
} */

/* AI Suggestion Section */
.suggestionContainer {
  flex: 2; /* Default size when visible */
  /* max-height: 600px; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  background: var(--white);
  border-left: 1px solid var(--divider);
}

.slideInTopLeft {
  width: 100%;
  height: 100%;
  -webkit-animation: slide-tl-in 0.1s forwards;
  animation: slide-tl-in 0.1s forwards;
}
.slideOutTopLeft {
  -webkit-animation: slide-tl-out 0.5s forwards;
  animation: slide-tl-out 0.5s forwards;
}

@keyframes slide-tl-in {
  0% {
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    opacity: 0;
    z-index: 0;
    width: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 1;
    width: 100%;
  }
}
@-webkit-keyframes slide-tl-out {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    opacity: 0;
    z-index: 0;
    height: 0;
    width: 0 !important;
  }
}
