.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  scrollbar-width: none;
  overflow: hidden;
  margin: 0 auto;
}
/* Comments section */
.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
  transition: all 0.5s ease; /* Smooth transitions for layout changes */
  overflow: hidden;
  position: relative;
}

.commentContainer {
  flex: 6; /* Allow the container to grow/shrink dynamically */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.5s ease;
}

.commentContainer {
  animation: floatFromTop 0.5s ease-out;
  animation-fill-mode: both;
}

/* AI Suggestion Section */
.suggestionContainer {
  flex: 2; /* Default size when visible */
  /* max-height: 600px; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  background: var(--white);
  border-left: 1px solid var(--divider);
}
