.sentimentAnalysisContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

.sentimentListContainer {
  flex: 1;
  max-width: calc(50% - 1rem); /* Prevents it from growing too large */
  box-sizing: border-box;
  flex-shrink: 1; /* Ensures proper sizing on small screens */
}

.title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-text-dark);
}

.sentimentList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sentimentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-muted);
  border-radius: 8px;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  margin-bottom: 0.5rem;
  background-color: var(--color-white);
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.sentimentItem:hover {
  background-color: var(--color-bg-light);
  border-color: var(--color-primary);
}

.sentimentItem.selected {
  border: 2px solid var(--color-primary);
  background-color: var(--color-comment-bg);
}

.emoji {
  margin-right: 0.5rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.count {
  font-weight: bold;
  color: var(--color-text-dark);
  font-size: clamp(0.75rem, 1.5vw, 1rem);
}

.chartAndSourcesContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border-container);
  border-radius: 10px;
  background-color: var(--color-bg-container);
  /* min-width: 280px; Ensures proper sizing */
  max-width: calc(50% - 1rem); /* Prevents it from growing too large */
  box-sizing: border-box;
  flex-shrink: 1; /* Shrinks content if necessary */
  overflow: hidden; /* Ensures no overflow outside the container */
  position: relative;
}

.chartContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.averageSentimentTitle {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  font-weight: bold;
  color: var(--color-text-dark);
}

.averageSentimentSubTitle {
  font-size: clamp(0.6rem, 1.2vw, 0.9rem);
  color: var(--color-text-muted);
}

.sourcesContainer {
  width: 100%;
  max-width: 280px;
}

.sourcesHeader {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.sourcesList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sourceLabelContainer {
  display: flex;
  align-items: center;
}

.sourceItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  border-bottom: 1px solid var(--color-border-muted);
}
.sourceColor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.sourcesTitle {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  text-align: center;
  font-weight: bold;
  color: var(--color-text-dark);
  margin-top: 1rem;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .sentimentAnalysisContainer {
    flex-direction: column;
    padding: 1rem;
  }

  .sentimentListContainer,
  .chartAndSourcesContainer {
    margin-right: 0;
    min-width: 100%;
  }

  .title {
    font-size: var(--font-size-md);
  }

  .sentimentItem {
    font-size: var(--font-size-xs);
  }

  .averageSentimentTitle,
  .averageSentimentSubTitle {
    font-size: var(--font-size-xs);
  }

  .sourcesHeader,
  .sourceItem {
    font-size: var(--font-size-xxs);
  }

  .percentage {
    font-size: var(--font-size-xs);
  }
}
