.sentimentAnalysisContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  height: 95%;
  width: 100%;
}

.sentimentListContainer {
  flex: 1;
  max-width: calc(50% - 1rem); /* Prevents it from growing too large */
  box-sizing: border-box;
  flex-shrink: 1; /* Ensures proper sizing on small screens */
}

.sentimentList,
.sourcesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sentimentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--divider);
  background-color: var(--white);
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  cursor: pointer;
  padding: 10px 8px;
  gap: 6px;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.sentimentItem:hover {
  background-color: var(--hover-bg);
  border-color: var(--primary);
}

.sentimentItem.selected {
  border: 2px solid var(--primary);
}

.sentimentLabel,
.sourceLabel {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.emoji {
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.labelText {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: var(--text-sentimentsLabel-title);
}
.count {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--text-sentimentsLabel-title);
  font-size: clamp(0.75rem, 1.5vw, 1rem);
}

.chartAndSourcesContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--divider);
  border-radius: 6px;
  /* min-width: 280px; Ensures proper sizing */
  max-width: calc(50% - 1rem); /* Prevents it from growing too large */
  box-sizing: border-box;
  flex-shrink: 1; /* Shrinks content if necessary */
  overflow: hidden; /* Ensures no overflow outside the container */
  position: relative;
}

.chartContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.averageValueContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.averageSentimentTitle {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  font-weight: bold;
  color: var(--text-sentimentsLabel-title);
  /* font-size: 26px; */
  font-weight: 700;
  line-height: 34.24px;
  letter-spacing: -0.5477965474128723px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.averageSentimentSubTitle {
  font-size: clamp(0.6rem, 1.2vw, 0.9rem);
  /* font-size: 10.27px; */
  font-weight: 500;
  line-height: 17.97px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--statsOveriew-title-secondary);
}

.sourcesContainer {
  width: 100%;
  max-width: 280px;
}
.sourcesHeader {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.sourceItem {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  border-bottom: 1px solid var(--color-border-muted);
}
.sourceColor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.sourcesTitle {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  color: var(--text-value);
  font-family: Poppins;
  /* font-size: 12px; */
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .sentimentAnalysisContainer {
    flex-direction: column;
    padding: 1rem;
  }

  .sentimentListContainer,
  .chartAndSourcesContainer {
    margin-right: 0;
    max-width: 100%;
  }

  .chartContainer {
    max-height: 50%;
  }

  .sentimentItem {
    font-size: var(--font-size-xs);
  }
  .averageValueContainer {
    top: 60%;
    transform: translate(-50%, -50%);
  }

  .averageSentimentTitle {
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    line-height: 10px;
    letter-spacing: -0.5477965474128723px;
  }

  .averageSentimentTitle,
  .averageSentimentSubTitle {
    font-size: var(--font-size-sm);
  }

  .sourcesHeader,
  .sourceItem {
    font-size: var(--font-size-xxs);
  }
}
