.container {
  width: 100%;
  height: 100%;
}
/*  Header */
.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  /* max-height: 70px; */
  /* background: #000; */
  border-bottom: 1px solid rgba(151, 151, 151, 1);
}

.headerSwipper {
  position: relative;
  display: flex;
  gap: 0.2rem;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}
.headerFavVideoSwiper {
  margin: 0 !important;
  width: 100%;
  padding: 5px 10px !important;
}
.headerFavVideoItem {
  display: flex !important;
  align-items: center;
  padding: 0.25rem;
  position: relative;
  gap: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.25rem;
  overflow: visible !important;
  border: 1px solid rgba(216, 216, 216, 1);
}
.headerFavVideoItem.selectedVideo {
  border: 1px solid var(--color-primary);
}
.headerTitleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.headerFavVideoTitleEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
  font-size: 0.625rem;
  font-weight: 500;
}
.videoTagLabel {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.5rem;
}
.headerFavVideoLabel::before {
  opacity: 0.5;
}
.headerFavVideoImage {
  width: auto;
  height: 2.25rem;
  object-fit: contain;
  border-radius: 4px;
}
.headerFavVideoInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
}
.headerFavVideoSubTitle {
  font-size: 0.4375rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  overflow: hidden;
  max-width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(151, 151, 151, 1);
}
.customPrevBtn,
.customNextBtn {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  z-index: 10;
}
.customPrevBtn svg,
.customNextBtn svg {
  font-size: 24px;
  color: #333;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.dropdownMenu {
  position: fixed; /* Position fixed to the viewport */
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.iconWrapper {
  position: relative; /* Keep relative to video card */
  cursor: pointer;
}
.dropdownItem {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.dropdownItem:hover {
  background-color: #f5f5f5;
  color: var(--color-primary);
}
.dropdownIcon {
  font-size: 1.2rem;
  color: var(--dark);
}
.ytIcon {
  font-size: 1.2rem;
  color: red;
}
.aiBtnContainer {
  position: relative;
  color: var(--color-primary);
  cursor: pointer;
  background: white;
  border: 1px solid var(--dark);
  height: 2rem;
  padding: 0 1rem; /* For pill shape */
  border-radius: 9999px; /* Fully rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
}
.aiBtnContainer.active {
  background: var(--dark); /* Dark background */
  color: white;
  border: none;
}
.aiBtnContainer.active::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit; /* Matches the button’s corners */
  background: linear-gradient(
    90deg,
    #6fe7cc 0%,
    #743be8 24%,
    #d240a5 48%,
    #de7d59 71.5%,
    #f1d571 100%
  ); /* Gradient for the border */
  z-index: -1; /* Ensure it’s behind the button content */
}

.aiBotActionBtn {
  color: var(--aiChatBox-userInput-bg) !important;
}
.aiBotSendBtn {
  background: var(--aiChatBox-userInput-bg) !important;
  color: var(--white) !important;
  border: none;
}

.aiBtnStars,
.aiBtnText {
  font: 800 1rem poppins;
}
.aiBtnStars {
  align-self: flex-start;
  rotate: 180deg;
}
/* Media Queries */
@media (min-width: 901px) and (max-width: 1200px) {
  .headerSection {
    padding: 0.5rem;
    max-height: 70px;
  }
  .headerFavVideoImage {
    width: 70px;
  }
  .headerFavVideoInfo {
    font-size: 0.5rem;
  }
  .headerFavVideoTitle {
    font-size: 0.9rem;
  }
  .headerFavVideoSubTitle {
    font-size: 0.6rem;
  }
  .customPrevBtn,
  .customNextBtn {
    padding: 2px;
  }
  .checkIcon {
    top: -0.25rem;
    right: -0.45rem;
    height: 12px;
  }
  .aiBtnStars,
  .aiBtnText {
    font: 800 0.6rem poppins;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .headerSwipper {
    width: 70%;
  }
  /* .headerChannelLogo {
    width: 2.5rem !important;
    height: 2.5rem !important;
    margin-right: 0.5rem;
  } */
  .aiBtnContainer {
    width: 32px;
    height: 20px;
  }
  .aiBtnStars,
  .aiBtnText {
    font: 800 0.5rem poppins;
  }
}
@media screen and (max-width: 600px) {
  .headerSection {
    padding: 0.5rem;
    max-height: 70px;
  }
  /* .headerChannelLogo {
    object-fit: cover;
    width: 30px;
    height: 20px;
  } */
  .customPrevBtn,
  .customNextBtn {
    padding: 0px;
  }
  .headerFavVideoItem {
    /* padding: 0; */
    /* gap: 0; */
    margin-top: 0;
  }
  .aiBtnContainer {
    width: 32px;
    height: 20px;
  }
  .aiBtnStars,
  .aiBtnText {
    font: 800 0.5rem poppins;
  }
}
@keyframes expandSidebar {
  from {
    transform: scaleX(0.8);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes collapseSidebar {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0.8);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.searchInput {
  width: 80%;
  height: 100%;
}

.active {
  background-color: rgba(76, 207, 174, 0.1);
  border: 1px solid var(--primary);
}
/* Comment Section */
.slideIn {
  animation: slideInFromRight 0.5s ease forwards;
}

.slideOut {
  animation: slideOutToRight 0.5s ease forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.emptyCommentsText {
  text-align: center;
  color: var(--color-primary);
  margin: auto;
}
.commentsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background-color 0.3s;
  width: fit-content;
  margin: 1rem auto;
}
.commentsBtn:hover {
  background-color: var(--color-primary);
  color: white;
}

/* Reply Section */
.userReplyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  /* gap: 0.5rem; */
  overflow-y: auto;
  /* max-height: 6rem; */
  position: relative;
}
.emojiPickerContainer {
  position: fixed;
  top: 20px;
  width: 100px;
  height: 100px;
}

.inputBox {
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  outline-color: var(--primary);
  width: 100%;
  height: 60%;
  padding: 0.25rem 0;
  color: var(--text-userInputBox);
  background: transparent;
  box-sizing: border-box;
}

.replyButton {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 10%;
  box-shadow: 0 4px 4px var(--shadow-xs);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.replyButtonText {
  font-size: 0.8rem;
}
.replyButtonIcon {
  font-size: 1rem;
  color: var(--white);
}
.replyButtonIcon:hover {
  color: var(--white) !important;
  transition: background-color 0.3s;
}
.replyButton:hover {
  background-color: var(--ai_starIcon) !important;
}

.smartReplyWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  align-items: center;
}
.smartReplyHeading {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text-value);
}
.smartReplyBtn {
  border: none;
  color: var(--text-value);
  background: transparent;
  cursor: pointer;
  position: relative;
}
.smartReplyBtn:not(:last-child) {
  border-right: 1px solid var(--divider);
}
.strokeIcon {
  stroke: var(--primary);
}
.smartReplyIcon {
  width: 24px !important;
  height: 24px !important;
  color: var(--primary);
}
.inputActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tooltip {
  font-size: 0.5rem !important;
  padding: 0.25rem !important;
}

/* Media Queries */
@media (min-width: 901px) and (max-width: 1200px) {
  .smartReplyHeading {
    font-size: 0.5rem;
  }
  .smartReplyBtn {
    gap: 5px;
    font-size: 0.5rem;
  }
  .replyButton {
    font-size: 0.5rem;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .smartReplyHeading {
    font-size: 0.5rem;
  }
  .smartReplyBtn {
    gap: 5px;
    font-size: 0.5rem;
  }
  .replyButton {
    font-size: 0.5rem;
  }
}
@media (max-width: 600px) {
  .smartReplyHeading {
    font-size: 0.4rem;
  }
  .smartReplyBtn {
    gap: 5px;
    font-size: 0.4rem;
  }
  .replyButton {
    font-size: 0.4rem;
  }
}
