.container {
  width: 100%;
  height: 100%;
}

.searchInput {
  width: 80%;
  height: 100%;
}

.active {
  background-color: rgba(76, 207, 174, 0.1);
  border: 1px solid var(--primary);
}
/* Comment Section */

.emptyCommentsText {
  text-align: center;
  color: var(--color-primary);
  margin: auto;
}
.commentsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background-color 0.3s;
  width: fit-content;
  margin: 1rem auto;
}
.commentsBtn:hover {
  background-color: var(--color-primary);
  color: white;
}

/* Reply Section */
.userReplyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  /* gap: 0.5rem; */
  overflow-y: auto;
  /* max-height: 6rem; */
  position: relative;
}
.emojiPickerContainer {
  position: fixed;
  top: 20px;
  width: 100px;
  height: 100px;
}

.inputBox {
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  outline-color: var(--primary);
  width: 100%;
  height: 60%;
  color: var(--text-userInputBox);
  background: transparent;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.replyButton {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 10%;
  box-shadow: 0 4px 4px var(--shadow-xs);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.replyButtonText {
  font-size: 0.8rem;
}
.replyButtonIcon {
  font-size: 1rem;
  /* color: var(--white); */
}
.replyButtonIcon:hover {
  color: var(--white) !important;
  transition: background-color 0.3s;
}
.replyButton:hover {
  color: var(--dark-primary);
  transition: color 0.3s;
}

.smartReplyWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  align-items: center;
}
.smartReplyHeading {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text-value);
}
.smartReplyBtn {
  border: none;
  color: var(--text-value);
  background: transparent;
  cursor: pointer;
  /* position: relative; */
}
.smartReplyBtn:not(:last-child) {
  border-right: 1px solid var(--divider);
}
.strokeIcon {
  stroke: var(--primary);
}
.smartReplyIcon {
  color: var(--primary);
}
.aiBotActionBtn {
  color: var(--aiChatBox-userInput-bg);
}
.aiBotSendBtn {
  background: var(--aiChatBox-userInput-bg);
}
.aiBotSendBtn:hover {
  background: var(--ai_starIcon);
}
.smartReplyIcon {
  width: 24px !important;
  height: 24px !important;
}
.inputActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tooltip {
  font-size: 12px !important;
  padding: 0.25rem !important;
}

/* Media Queries */
@media (min-width: 901px) and (max-width: 1200px) {
  .smartReplyHeading {
    font-size: 0.5rem;
  }
  .smartReplyBtn {
    gap: 5px;
    font-size: 0.5rem;
  }
  .replyButton {
    font-size: 0.5rem;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .smartReplyHeading {
    font-size: 0.5rem;
  }
  .smartReplyBtn {
    gap: 5px;
    font-size: 0.5rem;
  }
  .replyButton {
    font-size: 0.5rem;
  }
}
@media (max-width: 600px) {
  .smartReplyHeading {
    font-size: 0.4rem;
  }
  .smartReplyBtn {
    gap: 5px;
    font-size: 0.4rem;
  }
  .replyButton {
    font-size: 0.4rem;
  }
}
